/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*@import(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css);
@import(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css);*/

html {
  background-color: #fff;
}
body {
  width: 100%;
  font-size: 16px;
}
li {
  line-height: 120%;
}

div#topbar,
div#banner,
div#breadcrumbs,
div#bodyColumn,
footer {
  width: 98%;
  max-width: 1000px;
  margin-left: 5px;
  margin-right: 5px;
  clear: both;
}
footer {
  background-color: #e5e5e5;
}
footer .row, footer p, footer .pull-right {
  margin: 5px;
}
div#search-form.navbar-search.pull-right {
  width: 290px;
  margin-right: 0;
  margin-top: -5px;
  margin-left: 0;
  position: initial;
}
li#publishDate.pull-right {
  list-style: none;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.navbar-inner {
  width: 100%;
}
/* Change the color and effect when clicking in menus */
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
  background-color: #e5e5e5;
  background-image: none;
  color: #000;
  font-weight: bolder;
}

.dropdown-backdrop {
  position: static;
}

@media only screen and (max-width: 977px) {
  /* Without this rule, drop-down divs are a fixed height
   * the first time they are expanded */
  .collapse.in {
      height: auto;
  }
  /* Fix Google Search Results box on small screens */
  input.gsc-input,
  .gsc-input-box,
  .gsc-input-box-hover,
  .gsc-input-box-focus,
  .gsc-search-button,
  .gsc-results-wrapper-visible {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  div#search-form.navbar-search.pull-right {
    padding: 0;
    margin-left: ;
    width: 100%;
    clear: both;
  }
}

/* Fix Google Custom Search results div on very narrow screens */
@media(max-width: 480px) {
    .gsc-overflow-hidden .nav-collapse {
        -webkit-transform: none;
    }
}