/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*@import(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css);
@import(https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css);*/
html {
  background-color: #fff;
}
body {
  width: 100%;
  font-size: 16px;
}
li {
  line-height: 120%;
}

div#topbar,
div#banner,
div#breadcrumbs,
div#bodyColumn,
footer {
  width: 98%;
  max-width: 1000px;
  margin-left: 5px;
  margin-right: 5px;
  clear: both;
}
footer {
  background-color: #e5e5e5;
}
footer .row, footer p, footer .pull-right {
  margin: 5px;
}
form#search-form.navbar-search.pull-right {
  width: 150px;
  margin-right: 33px;
}
li#publishDate.pull-right {
  margin-top: -23px;
  list-style: none;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container,
.navbar-inner {
  width: 100%;
  margin: 2px;
}

/* Change the color and effect when clicking in menus */
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-submenu:hover>a,
.dropdown-submenu:focus>a {
  background-color: #e5e5e5;
  background-image: none;
  color: #000;
  font-weight: bolder;
}

/* On small screens, put the search form on its own line */
@media only screen and (max-width: 800px) {
  body {
    width: 100%;
    font-size: 120%;
  }
  div#topbar,
  div#banner,
  div#breadcrumbs,
  div#bodyColumn,
  footer {
    width: 98%;
    margin-left: 5px;
    margin-right: 5px;
    clear: both;
    margin-bottom: 2px;
  }
  div#banner {
    margin-top: 90px;
  }
  form#search-form.navbar-search.pull-right, .pull-right {
    width: 95%;
    margin: 2px;
    float: left;
    clear: both;
  }
  li#publishDate.pull-right {
    display: block;
    width: 95%;
    float: left;
    margin-top: 5px;
    list-style: none;
  }
}



