# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# This configuration file is used to define some general properties of the apache-hbase clusterdock
# topology, as well as its command line.

[general]
name = Apache HBase
description = An Apache HBase cluster with 1 primary node and n-1 secondary nodes


[node_groups]
# Define node groups and specify which of each to start during the build process.
primary-node = node-1
secondary-nodes = node-2


[build]
arg.java-tarball = http://download.oracle.com/otn-pub/java/jdk/8u91-b14/jdk-8u91-linux-x64.tar.gz
arg.java-tarball.help = The URL (or filename) of the Java tarball to install on the cluster
arg.java-tarball.metavar = tarball

arg.java-version = 8u91
arg.java-version.help = The label to use when identifying the version of Java
arg.java-version.metavar = ver

arg.hadoop-tarball = https://archive.apache.org/dist/hadoop/core/hadoop-2.7.2/hadoop-2.7.2.tar.gz
arg.hadoop-tarball.help = The URL (or filename) of the Hadoop tarball to install on the cluster
arg.hadoop-tarball.metavar = tarball

arg.hadoop-version = 2.7.2
arg.hadoop-version.help = The label to use when identifying the version of Hadoop
arg.hadoop-version.metavar = ver

arg.hbase-tarball
arg.hbase-tarball.help = The URL (or filename) of the HBase tarball to install on the cluster
arg.hbase-tarball.metavar = tarball

arg.hbase-version
arg.hbase-version.help = The label to use when identifying the version of HBase
arg.hbase-version.metavar = ver

arg.hbase-git-commit
arg.hbase-git-commit.help = The git commit to checkout when building the image
arg.hbase-git-commit.metavar = commit

[start]
arg.java-version = 8u91
arg.java-version.help = The Java version on the cluster
arg.java-version.metavar = ver

arg.hadoop-version = 2.7.2
arg.hadoop-version.help = The Hadoop version on the cluster
arg.hadoop-version.metavar = ver

arg.hbase-version = master
arg.hbase-version.help = The HBase version on the cluster
arg.hbase-version.metavar = ver

arg.configurations = /root/clusterdock/clusterdock/topologies/apache_hbase/configurations.cfg
arg.configurations.help = Location of a configurations.cfg file to apply to the cluster
arg.configurations.metavar = path

arg.data-directories
arg.data-directories.help = A comma-separated list of host directories on which to save data (i.e. for HDFS and YARN)
arg.data-directories.metavar = dir

arg.dont-start-services = False
arg.dont-start-services.help = Don't start Hadoop and HBase services as part of cluster start
