h1, h2, h3 { color: #483D8B; }
table { border: thin solid #1e90ff; }
tr { border: thin solid #1e90ff; }
td { border: thin solid #1e90ff; }
th { border: thin solid #1e90ff; }
#logo {float: left;}
#logo img {border: none;}
#page_title {padding-top: 27px;}

div.warning {
  border: 1px solid #666;
  background-color: #fcc;
  font-size: 110%;
  font-weight: bold;
}

tr.task-monitor-COMPLETE td {
  background-color: #afa;
}

tr.task-monitor-WAITING td {
  background-color: #ccc;
  font-style: italic;
}

tr.task-monitor-IDLE td {
  background-color: #ccc;
  font-style: italic;
}

tr.task-monitor-ABORTED td {
  background-color: #f66;
}

td.number {
  text-align: right;
}

td.bad, td.warn, td.good {
  font-weight: bold;
}

td.good {
  color: #32CD32;
}

td.warn {
  color: #FFD700;
}

td.bad {
  color: red;
}
