Please vote on this Apache HBase release candidate (RC), ${RELEASE_VERSION}.

The VOTE will remain open for at least 72 hours.

[ ] +1 Release this package as Apache HBase ${RELEASE_VERSION}
[ ] -1 Do not release this package because ...

The tag to be voted on is ${RELEASE_TAG}:

 https://github.com/apache/hbase/tree/${RELEASE_TAG}

The release files, including signatures, digests, as well as CHANGES.md
and RELEASENOTES.md included in this RC can be found at:

 https://dist.apache.org/repos/dist/dev/hbase/${RELEASE_TAG}/

Maven artifacts are available in a staging repository at:

 https://repository.apache.org/content/repositories/${staged_repo_id}/

Artifacts were signed with the ${GPG_KEY} key which can be found in:

 https://dist.apache.org/repos/dist/release/hbase/KEYS

To learn more about Apache HBase, please see http://hbase.apache.org/

Thanks,
Your HBase Release Manager
